.game-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  padding: 1rem;
  z-index: 80;
  font-size: 0.875rem;
  font-weight: 700;
  padding-top: 25px;
}

.game-modal .overlay-transition {
  transition: opacity var(--modal-transition) ease-in-out;
}

.game-modal .game-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--game-modal-overlay-color);
  border-radius: 0.5rem;
  opacity: 0;
}

.game-modal .wrapper-transition {
  transition: transform var(--modal-transition) ease-out;
}

.game-modal .wrapper {
  width: 100%;
  max-width: 500px;
  box-shadow: var(--modal-box-shadow);
  background: var(--modal-wrapper-background-color, var(--color-background-base));
  border-radius: 0.5rem;
  position: relative;
  max-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollX {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  -moz-transform: none !important;
  scrollbar-width: thin;
}

.scrollX,
.scrollY {
  scrollbar-color: var(--color-accent-primary) transparent;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.modal-content.game-info {
  padding-top: 0;
  line-height: 1.5;
  font-weight: 400;
}
.modal-content,
.modal-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.modal-content.game-info p:not(:first-child) {
  margin-top: 20px;
}

.modal-header button:hover .close-icon {
  background-color: var(--text-color);
}

.modal-btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-size-adjust: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  text-decoration: none;
  margin: 0px;
  overflow: visible;
  text-transform: none;
  border: 2px solid var(--button-bet-color-background, var(--bet-win-color));
  color: var(--text-color);
  padding: 4px 22px;
  font-size: 18px;
  line-height: 24px;
  background: var(--button-bet-color-background, var(--bet-win-color));
  border-radius: 18px;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
