.bet-modal_details {
  --grey-800: rgb(7, 29, 42);
  display: grid;
  padding: var(--ds-spacing-4, 1em);
  background: var(--grey-800);
  border-radius: var(--ds-radius-md, 3px);
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.bet-modal_details .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: var(--ds-spacing-2, 0.5em);
}

.bet-modal_label {
  --input-transition: 0.25s;
  --label-font-size: var(--text-size-default);
  color: var(--label-color);
  transition: var(--input-transition);
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  cursor: pointer;
}

.bet-modal_value {
  --label-font-size: var(--text-size-default);

  margin-top: var(--ds-spacing-2, 0.5em);
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  max-width: 12ch;
  line-height: 1.5;
  font-weight: 600;

  font-size: var(--label-font-size);
}

.title-wrap {
  display: flex;
  flex-direction: column;
}

.title-wrap h2,
.id-wrap h2 {
  color: #fff;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.id-wrap {
  display: inline-flex;
  position: relative;
  justify-content: center;
}

.placed-wrap {
  color: var(--grey-200);
  text-align: center;
  justify-content: center;
  display: inline-flex;
  font-weight: 400;
  font-size: 0.875rem;
}

.modal-header h2 {
  color: #fff;
  line-height: 1.5;
  text-align: left;
  justify-content: flex-start;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.modal-header .svg-icon {
  margin-right: var(--spacing-2);
  color: var(--grey-200);
}

.playtable-preview {
  width: 100%;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.playtable-preview .wrap {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-2);
  flex-wrap: wrap;
}

.bet-modal-content {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-4);
  gap: var(--spacing-4);
}
