.last-bets {
  grid-area: lastBets;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-bets .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--spacingEm-2-5);
  min-height: 14.5em;
}

.last-bets .content > * + * {
  margin-top: var(--spacingEm-0-5);
}

.last-bets .content > * {
  animation-fill-mode: forwards;
  animation-duration: var(--duration);
  animation-timing-function: ease-out;
}

.last-bets .content > *:nth-child(2n) {
  animation-name: slideDownEven;
}

.last-bets .content > *:nth-child(odd) {
  animation-name: slideDownOdd;
}

.last-bets .content > *:first-child {
  animation-name: slideDownFadeIn;
}

.last-bets .content > *:nth-child(5) {
  opacity: 0.2;
}

.last-bets .content > *:nth-child(4) {
  opacity: 0.4;
}

.last-bets .content > *:nth-child(3) {
  opacity: 0.6;
}

.last-bets .content > *:nth-child(2) {
  opacity: 0.8;
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideDownOdd {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes slideDownEven {
  0% {
    transform: translateY(-100%);
  }
}

.last-bets-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: var(--spacingEm-2-5);
  height: var(--spacingEm-2-5);
  font-weight: 600;
  transition-property: background-color, opacity;
  transition-duration: 0.2s;
  background-color: var(--bg-color);
}

.last-bets-btn:hover {
  background-color: var(--bg-color-lighten);
}
