.game-sidebar {
  background: var(--grey-500);
  padding: var(--spacing-3);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.game-content:not(.staked) .game-sidebar {
  width: 300px;
}

.tabs-wrapper {
  display: flex;
}

.slider {
  display: flex;
  flex-grow: 1;
  border-radius: 3rem;
  padding: var(--ds-spacing-1-5, 5px);
  flex-shrink: 0;
  background: var(--grey-700);
}

.tabs-wrapper .wrapper {
  display: flex;
  flex-grow: 1;
}

.tabs-buttons {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  border-radius: var(--ds-radius-full, var(--radius-full-legacy));
  padding-inline: 1rem;
  padding-block: 0.8125rem;
  font-size: var(--text-sm);
  line-height: 1;
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
  color: #fff;
  margin-left: var(--spacing-0);
  flex: 1 1 0%;
  font-weight: 600;
}

.tabs-buttons.active {
  background-color: rgb(47, 69, 83);
}

.slider {
  display: flex;
  border-radius: 3rem;
  padding: var(--ds-spacing-1-5, 5px);
  flex-shrink: 0;
}

.place-bet-btn {
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
  color: #08080b;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  font-size: 1rem;
  padding-block: 1.125rem;
  padding-inline: 1.75rem;
  background-color: #00e701;
  border-radius: 0.25rem;
  gap: calc(var(--spacing) * 2);
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  outline: none;
}

.place-bet-btn:hover {
  background-color: #1fff20;
}

.place-bet-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
