.wheel-house {
  width: 100%;
  pointer-events: none;
  display: flex;
}

.wheel-house .wrap {
  grid-area: wheel;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel-house .content {
  width: 100%;
  border-radius: 50%;
  position: relative;
}

.wheel-house .content::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.wheel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: rotate;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 914px) {
  .wheel-house {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 60;
    background: var(--grey-600);
    padding: var(--spacingEm-1);
    display: none;
  }
}
